{% extends 'base.html' %}
{% load static %}


{% block title %}
Dashboard
{% endblock %}


{% block content %}

<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>
<h5>test title</h5>

{% endblock %}