{% extends 'base.html' %}
{% load static %}


{% block title %}
Dashboard
{% endblock %}


{% block content %}

<!-- balance analysis -->
<div class="row">
  <!-- USD balance -->
  <div class="col s12 m6 l3 summary">
    <h5>USD Balance</h5><hr />
    <table class="highlight">
      <tr>
        <th>As of date</th>
        <td>{{ bal.USD.obs_date|date:"M d, Y" }}</td><td></td>
      </tr>
      <tr style="border-bottom: 1pt solid #DCDFE4;">
        <th>Total value</th>
        <td>&#36; {{ bal.USD.tv|floatformat:2 }}</td><td></td>
      </tr>
      {% for entry in bal.USD.data %}
      <tr>
        <td>{{ entry.account }}</td>
        <td>&#36; {{ entry.balance|floatformat:2 }}</th>
        <td style="text-align: right;">{{ entry.pct|floatformat:2 }} %</th>
      </tr>
      {% endfor %}
    </table>
  </div>

  <!-- USD investment -->
  <div class="col s12 m6 l3 summary">
    <h5>USD Investment</h5><hr />
    <table class="highlight">
      <tr>
        <th>As of date</th>
        <td>{{ inv.USD.obs_date|date:"M d, Y" }}</td><td></td>
      </tr>
      <tr style="border-bottom: 1pt solid #DCDFE4;">
        <th>Total value</th>
        <td>&#36; {{ inv.USD.tv|floatformat:2 }}</td><td></td>
      </tr>
      {% for entry in inv.USD.data %}
      <tr>
        <td>{{ entry.account }}</td>
        <td>&#36; {{ entry.balance|floatformat:2 }}</td>
        <td style="text-align: right;">{{ entry.pct|floatformat:2 }} %</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <!-- CNY balance -->
  <div class="col s12 m6 l3 summary">
    <h5>CNY Balance</h5><hr />
    <table class="highlight">
      <tr>
        <th>As of date</th>
        <td>{{ bal.CNY.obs_date|date:"M d, Y" }}</td><td></td>
      </tr>
      <tr style="border-bottom: 1pt solid #DCDFE4;">
        <th>Total value</th>
        <td>&#165; {{ bal.CNY.tv|floatformat:2 }}</td><td></td>
      </tr>
      {% for entry in bal.CNY.data %}
      <tr>
        <td>{{ entry.account }}</td>
        <td>&#165; {{ entry.balance|floatformat:2 }}</td>
        <td style="text-align: right;">{{ entry.pct|floatformat:2 }} %</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  <!-- CNY investment -->
  <div class="col s12 m6 l3 summary">
    <h5>CNY Investment</h5><hr />
    <table class="highlight">
      <tr>
        <th>As of date</th>
        <td>{{ inv.CNY.obs_date|date:"M d, Y" }}</td><td></td>
      </tr>
      <tr style="border-bottom: 1pt solid #DCDFE4;">
        <th>Total value</th>
        <td>&#165; {{ inv.CNY.tv|floatformat:2 }}</td><td></td>
      </tr>
      {% for entry in inv.CNY.data %}
      <tr>
        <td>{{ entry.account }}</td>
        <td>&#165; {{ entry.balance|floatformat:2 }}</td>
        <td style="text-align: right;">{{ entry.pct|floatformat:2 }} %</td>
      </tr>
      {% endfor %}
    </table>
  </div>

</div><hr />


<!-- USD transaction -->
<div class="row">
  <div class="col s12 m6 l6">
    <h5>USD Transaction Summary</h5><hr />
    <table class="highlight">
      <tr>
        <th>Month</th>
        <td colspan="2">{{ txn.month }}</td>
      </tr>
      <tr style="border-bottom: 1pt solid #DCDFE4;">
        <th>Total amount</th>
        <td colspan="2">&#36; {{ txn.total.USD.total|default:0|floatformat:2 }}</td>
      </tr>
      {% for entry in txn.category.USD %}
      <tr>
        <td>{{ entry.txn_category }}</td>
        <td>&#36; {{ entry.amount|floatformat:2 }}</td>
        <td style="text-align: right;">{{ entry.pct|floatformat:2 }} %</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% if txn.category.USD %}
  <div class="col s12 m6 l6">
    <ul class="tabs">
      <li class="tab col s3"><a href="#txn-plot-USD-category">by category</a></li>
      <li class="tab col s3"><a href="#txn-plot-USD-category-detail">by detail</a></li>
      <li class="tab col s3"><a href="#txn-plot-USD-pct">percentage</a></li>
      <li class="tab col s3"><a href="#txn-plot-USD-historical">history</a></li>
    </ul>

    <div id="txn-plot-USD-category" class="txn-plot"></div>
    <div id="txn-plot-USD-category-detail" class="txn-plot"></div>
    <div id="txn-plot-USD-pct" class="txn-plot"></div>
    <div id="txn-plot-USD-historical" class="txn-plot"></div>
  </div>
  {% endif %}
</div><hr/>

<!-- CNY transaction -->
<div class="row">
  <div class="col s12 m6 l6">
    <h5>CNY Transaction Summary</h5><hr />
    <table class="highlight">
      <tr>
        <th>Month</th>
        <td colspan="2">{{ txn.month }}</td>
      </tr>
      <tr style="border-bottom: 1pt solid #DCDFE4;">
        <th>Total amount</th>
        <td colspan="2">&#165; {{ txn.total.CNY.total|default:0|floatformat:2 }}</td>
      </tr>
      {% for entry in txn.category.CNY %}
      <tr>
        <td>{{ entry.txn_category }}</td>
        <td>&#165; {{ entry.amount|floatformat:2 }}</td>
        <td style="text-align: right;">{{ entry.pct|floatformat:2 }} %</td>
      </tr>
      {% endfor %}
    </table>
  </div>

  {% if txn.category.CNY %}
  <div class="col s12 m6 l6">
    <ul class="tabs">
      <li class="tab col s3"><a href="#txn-plot-CNY-category">by category</a></li>
      <li class="tab col s3"><a href="#txn-plot-CNY-category-detail">by detail</a></li>
      <li class="tab col s3"><a href="#txn-plot-CNY-pct">percentage</a></li>
      <li class="tab col s3"><a href="#txn-plot-CNY-historical">historical</a></li>
    </ul>

    <div id="txn-plot-CNY-category" class="txn-plot"></div>
    <div id="txn-plot-CNY-category-detail" class="txn-plot"></div>
    <div id="txn-plot-CNY-pct" class="txn-plot"></div>
    <div id="txn-plot-CNY-historical" class="txn-plot"></div>
  </div>
  {% endif %}
</div><hr/>




<div id="plot-test" style="width: 400px; height: 400px;"></div>

{% endblock %}


{% block extra_js %}
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<!-- <script src="https://code.highcharts.com/stock/modules/exporting.js"></script> -->
<script type="text/javascript" src="{% static 'js/plot.js' %}"></script>
<script type="text/javascript">
  {% if txn.category.USD %}
    pie_charts('txn-plot-USD-category', {{ txn_plot.USD|default:'[]'|safe }}, 'USD Transaction By Category');
    pie_charts('txn-plot-USD-category-detail', {{ txn_plot_detail.USD|default:'[]'|safe }}, 'USD Transaction By Detailed Category');
    line_area('txn-plot-USD-pct', {{ txn_hist_plot.USD.data_series|safe }}, {{ txn_hist_plot.USD.x_axis|safe }}, 'USD Transaction History', 'percent')
    line_area('txn-plot-USD-historical', {{ txn_hist_plot.USD.data_series|safe }}, {{ txn_hist_plot.USD.x_axis|safe }}, 'USD Transaction History', 'normal')
  {% endif %}
  {% if txn.category.CNY %}
    pie_charts('txn-plot-CNY-category', {{ txn_plot.CNY|default:'[]'|safe }}, 'CNY Transaction By Category');
    pie_charts('txn-plot-CNY-category-detail', {{ txn_plot_detail.CNY|default:'[]'|safe }}, 'CNY Transaction By Detailed Category');
    line_area('txn-plot-CNY-pct', {{ txn_hist_plot.CNY.data_series|safe }}, {{ txn_hist_plot.CNY.x_axis|safe }}, 'CNY Transaction History', 'percent')
    line_area('txn-plot-CNY-historical', {{ txn_hist_plot.CNY.data_series|safe }}, {{ txn_hist_plot.CNY.x_axis|safe }}, 'CNY Transaction History', 'normal')
  {% endif %}

  
</script>
{% endblock %}
